<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<startup> 
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
</startup>

  <connectionStrings>
<add name="DBContext" connectionString="Data Source=DESKTOP-2VJ0F8I\SQL2019;Initial Catalog=Conti-CanteenManagementSystem;user id=sa;password=Pass@123;Persist Security Info=True;"/>
</connectionStrings>
  
<appSettings>

<add key="sendPort" value="587"/>
<add key="FromAddress" value="ben@fidrox.com"/>
<!--<add key="ToAddress" value="@fidrox.com"/>-->
<add key="FromPwd" value="Pass@123"/>
<add key="Hostdomain" value="smtp.office365.com"/>
<add key="defCredentials" value="false"/>
<add key="Subject" value="Canteen QR Code"/>
<add key="FromName" value="Test"/>
<add key="ToName" value="Dear Colleague,"/>
<add key="TestMail" value="As you are aware, new ID cards are being issued to AM Team. Once the new ID cards are issued the old canteen QR code would not be available for swipe at the canteen device. Hence softcopy of QR code is shared for your Continental Employee ID. Please note the below QR code will be valid till 31st Dec 2022.Request you to take a photo of this QR code and continue to use canteen device. &#13;&#10;&#13;&#10;" />
<add key="PleaseNote" value="Please note the below QR code will be valid till 31st Dec 2022."/>
<add key="Request" value="Request you to take a photo of this QR code and continue to use canteen device."/>
<add key="FurtherDetails" value="Further, new digital QR code would be shared on 23rd Dec 2022 which would be active w.e.f. 1st Jan 2023."/>
<add key="Query" value="For any assistance please reach out to subash.ponnappa@continental.com"/>
<add key="Extension" value="Extension:6173"/>
<add key="RetryCount" value="0"/>
<add key="Signature" value="Warm Regards,"/>
<add key="TeamAdmin" value="Subash"/>
<add key="Signature1" value="Continental Automotive Components (India) Private Limited"/>
<add key="Signature2" value="Sattva South Gate Tech Park"/>
<add key="Signature3" value="Plot No. 1 | Veerasandra Industrial Area"/>
<add key="Signature4" value="Hosur Main Road"/>
 <add key="Signature5" value="Bengaluru - 560100 | Karnataka | India"/>

   <add key="QRCodeLogs" value="D:/QRCodeLogs/"/>
   <add key="QRCodePdf" value="D:/QRCodePDFFile/"/>
  
  




</appSettings>
</configuration>